aiohttp
altgraph
async-timeout
attrs
chardet
discord
discord.py
future
idna
multidict
pefile
pip
pygame
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
setuptools
typing-extensions
yarl
